/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

input[type = submit] {
  @extend .btn;
  @extend .btn-success;
}

input[type = text] {
  @extend .form-control;
}

textarea {
  @extend .form-control
}

select {
  @extend .form-control;
}

.body_panel {
  @extend .panel;
  margin-left: 10%;
  margin-right: 10%;
}

label {
  @extend .col-sm-2;
  @extend .control-label;
}


.page-header {
  @extend .page-header;
  margin-left: 10%;
  margin-right: 10%;
}


table {
  border-collapse: separate;
  border-spacing: 10px;
}

.wrapped {
  word-wrap: break-word;
  min-width: 160px;
  max-width: 160px;
  white-space:normal;
}




