// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

form {
  @extend .form-horizontal;
  padding-top: 15px;
}
.edit_question { display: none; }

form .form-group {
  margin-left: 0;
}

