<nav class="navbar navbar-default">
<%= render_navigation(:expand_all => true, :renderer => :bootstrap)  %>
</nav>

<input type="hidden" id="current_user" value="<%= user_signed_in? ? current_user.id : 0 %>">